.grid-33
  .app--section
    ul.app--message--list
      li
        h3
          | Last incoming messages 
        ul.app--message--conversation
          each message in messages
            ul.app--message
              .app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
              p.app--message--text #{message.text}
              p.app--message--timestamp X hours ago, from #{message.sender.name}