.app--section--header
    .grid-33
        .app--section--heading
            h2 Timeline
    .grid-33
        .app--section--heading
            strong #{account.followers_count}
            h2 Following
    .grid-33
        .app--section--heading
            h2 Direct Messages