.app--tweet
  form(method='post' action='/')
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
        .app--avatar(style='background-image: url(' + account.profile_image_url + ')')
        textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?", type='text', name='tweet')
      .circle--fluid--cell.align-bottom
        button.button-primary(type='submit') Tweet